<!-- footer -->
<div id="footer" class="container-fluid" style="background:#333;padding-top:20px;border-top:3px solid #c30;">
	<div class="container" style="">
		<div class="row">
			<div class="col-md-3">
				<h4 style="color:#ddd;margin-left:20px;">服务</h4>
				<div style="border-bottom:1px solid #c30; margin:20px;"></div>
				<p style="margin-left:20px;"><a style="color:#ddd;" href="">电商培训</a></p>
				<p style="margin-left:20px;"><a style="color:#ddd;" href="">电商托管</a></p>
				<p style="margin-left:20px;"><a style="color:#ddd;" href="">网站建设</a></p>
			</div>
			<!-- <div class="col-md-3">
				<h4 style="color:#ddd;margin-left:20px;">案例</h4>
				<div style="border-bottom:1px solid #c30; margin:20px;"></div>
			</div> -->
			<div class="col-md-3">
				<h4 style="color:#ddd;margin-left:20px;">合作伙伴</h4>
				<div style="border-bottom:1px solid #c30; margin:20px;"></div>
				<!-- <p style="margin-left:20px;"><a style="color:#ddd;" href="">金利来机械</a></p>
				<p style="margin-left:20px;"><a style="color:#ddd;" href="">喜地空调</a></p>
				<p style="margin-left:20px;"><a style="color:#ddd;" href="">我们的团队</a></p> -->
				<img style="margin-left:20px;margin-bottom:10px; width:60px;" src="/template/default/image/logo_s.png">
				<img style="margin-left:20px;margin-bottom:10px; width:60px;" src="/template/default/image/logo/logo_xidi.png">
				<img style="margin-left:20px;margin-bottom:10px; width:60px;" src="/template/default/image/logo/logo_zongheng.png">
				<img style="margin-left:20px;margin-bottom:10px; width:60px;" src="/template/default/image/logo/logo_ali.png">
				<img style="margin-left:20px;margin-bottom:10px; width:60px;" src="/template/default/image/logo/logo_xiangyun.png">
			</div>
			<div class="col-md-3">
				<h4 style="color:#ddd;margin-left:20px;">联系我们</h4>
				<div style="border-bottom:1px solid #c30; margin:20px;"></div>
				<p style="margin-left:20px;"><a style="color:#ddd;" href="">热线：400-997-9921</a></p>
				<p style="margin-left:20px;"><a style="color:#ddd;" href="">手机：13305340360</a></p>
				<p style="margin-left:20px;"><a style="color:#ddd;" href="">地址：山东省德州市三八东路唐人中心写字楼27层</a></p>
				<!-- <img style="margin-left:20px;width:100px;" src="/template/default/image/erweima.jpg"> -->
				
			</div>
			<div class="col-md-3">
				<h4 style="color:#ddd;margin-left:20px;">关注我们</h4>
				<div style="border-bottom:1px solid #c30; margin:20px;"></div>
				<!-- <p style="margin-left:20px;"><a style="color:#ddd;" href="">热线：400-997-9921</a></p>
				<p style="margin-left:20px;"><a style="color:#ddd;" href="">手机：13305340360</a></p>
				<p style="margin-left:20px;"><a style="color:#ddd;" href="">地址：山东省德州市三八东路唐人中心写字楼27层</a></p> -->
				<img style="margin-left:20px;width:100px;" src="/template/default/image/erweima.jpg">
				
			</div>
		</div>
	</div>
	<div class="row" style="background:#111;margin-top:20px;">
		<div class="container">
			<h5 class="text-center" style="color:#999;">Copyright © 2014-2016 山东众焱信息咨询有限公司 版权所有</h5>
			<h5 class="text-center" style="color:#999;">备案：鲁ICP备14020841号-3</h5>
		</div>
	</div>
</div>