<div class="container-fluid">
	<div class="row" style="border-bottom:5px solid #c30;">
		<div class="col-md-12" style="padding:20px 0px;">
			<div class="container">
				<div class="logo pull-left" style="margin-right:20px;">
					<img src="/template/default/image/logo.png">
				</div>
				<div class="tel pull-left">
					<h3 style="color:#666;"><img src="/template/default/image/tel.png"> 400-997-9921</h3>
				</div>
			</div>
		</div>
		<div id="nav" class="nav col-md-12 hidden-xs ">
			<div class="container">
				<ul class="">
					<li><a href="/public">首　　页</a></li>
					<li><a href="/public/index/peixun">电商培训</a></li>
					<li><a href="/public/index/tuoguan">阿里托管</a></li>
					<li><a href="#">网站建设</a></li>
					<li><a href="#">公司新闻</a></li>
					<li><a href="#">加盟代理</a></li>
					<li><a href="#">在线咨询</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>